<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.CSDLConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Admin\Desktop\LTQLUD\DOANCUOIKI\LTUDQL1_Seminar\LTUDQL1_Seminar\DTO\CSDL.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAO.Properties.Settings.CSDLConnectionString1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=F:\HK1-2019-2020\Lap-trinh-Ung-dung-quan-li-1\LTUDQL1_Seminar\LTUDQL1_Seminar\DTO\CSDL.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>